<!-- STOP BEFORE YOU EDIT ANYTHING -->

<!-- 

	JAKEOID.XYZ WEBSITE TEMPLATE
	============================

	This website is a template from github and is created 
	by user @jakeoid, if you'd like to use this template 
	please head to the repository that can be found here.

	https://github.com/jakeoid/jakeoid.xyz

-->

<!-- YOU MAY NOW CONTINUE EDITING -->

<!DOCTYPE html>
<html>
<head>
	<!-- title -->
	<title>Example</title>

	<!-- meta -->
	<meta name="theme-color" content="#1d1d1d" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

	<!-- link -->
	<link href="assets/stylesheet.css" type="text/css" rel="stylesheet">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>
	<!-- container -->
	<div class="container">

		<!-- logo -->
		<div class="logo">
			<img src="assets/png/avatar.png" alt="example-logo">
		</div>
		<!-- /logo -->
		<!-- header -->
		<div class="header">Lorem <label>a.k.a Ipsum</label></div>
		<div class="subheader">I build HTML and CSS.</div>
		<!-- /header -->
		<!-- nav -->
		<ul class="nav">
			<a href="http://example.com/"><li>
				<div class="text"><i class="fa fa-home"></i> Home</div>
				<div class="short">example.com</div>
			</li></a>
			<a href=""><li>
				<div class="text"><i class="fa fa-github"></i> Github</div>
				<div class="short">@example</div>
			</li></a>
			<a href=""><li>
				<div class="text"><i class="fa fa-steam"></i> Steam</div>
				<div class="short">/id/example</div>
			</li></a>
			<a href=""><li>
				<div class="text"><i class="fa fa-reddit-alien"></i> Reddit</div>
				<div class="short">/u/example</div>
			</li></a>
			<a href=""><li>
				<div class="text"><i class="fa fa-twitter"></i> Twitter</div>
				<div class="short">@example</div>
			</li></a>
			<a href=""><li>
				<div class="text"><i class="fa fa-facebook"></i> Facebook</div>
				<div class="short">/example</div>
			</li></a>
			<a href=""><li>
				<div class="text"><i class="fa fa-envelope"></i> Email</div>
				<div class="short">you@example.com</div>
			</li></a>
		</ul>
		<!-- /nav -->
		<!-- footer -->
		<div class="footer">
			Copyright &copy; <a href="http://jakeoid.com">Jakeoid</a> 2016.
		</div>
		<!-- /footer -->

	</div>
	<!-- /container -->

</body>
</html>