- var username = "Jakeoid"
- var aka = "Jake"

html
  head
    meta(charset='utf-8')
    title #{username}
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css')
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
    link(rel='stylesheet', href='assets/css/main.css')
    link(rel='icon', type='image/png', href='assets/favicon.png')
  body
    main
      header
        img(src="/assets/avatar.svg" alt="avatar")
        h1 #{username} #[label aka #{aka}]
        h2 I build web and program.
      section
        ul(class='social')
          a(href="#")
            li
              div
                i(class='fa fa-home')
                label Home
              label(class='short') jakeoid.com
          a(href="#")
            li
              div
                i(class='fa fa-comments')
                label Discord
              label(class='short') jakeoid#6284
          a(href="#")
            li
              div
                i(class='fa fa-github')
                label Github
              label(class='short') @jakeoid
          a(href="#")
            li
              div
                i(class='fa fa-steam')
                label Steam
              label(class='short') /id/jakeoid
          a(href="#")
            li
              div
                i(class='fa fa-reddit-alien')
                label Reddit
              label(class='short') /u/jakeoid
      footer
        div Created by #[a(href="#") Jakeoid], &copy; 2016.
  script(type='text/javascript' src='assets/script.js')
